#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development;IDE;
Comment=The official Android IDE for Android development
Comment[en_US]=The official Android IDE for Android development
Exec=android-studio-alex %f
GenericName=Android Studio
GenericName[en_US]=Android Studio
Icon=/usr/share/pixmaps/android-studio-alex.png
MimeType=text/x-java;text/x-kotlin;text/xml;application/vnd.android.package-archive;application/x-gradle+json;
Name=Android Studio
Name[en_US]=Android Studio
Path=
StartupNotify=true
StartupWMClass=jetbrains-studio
Terminal=false
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
